.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.mapContainer {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.formGroup {
  margin-top: 1rem;
}

.formRow {
  display: flex;
  gap: 1rem; /* Отступ между элементами */
  align-items: flex-end; /* Выравниваем элементы по нижнему краю */
}

.inputGroup {
  flex: 1; /* Группа полей ввода занимает всё доступное пространство */
}

.formLabel {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #3d2c2e;
}

.formInput {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formInput:focus {
  outline: none;
  border-color: #5a3d3f;
  box-shadow: 0 0 0 2px rgb(90 61 63 / 10%);
}

.buttonWrapper {
  display: flex;
  align-items: flex-end; /* Выравниваем кнопку по нижнему краю */
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.buttonSuccess {
  color: #fff;
  background-color: #384c39; /* Тёмно-зелёный цвет */
}

.buttonSuccess:hover {
  background-color: #2d3b2d; /* Ещё более тёмный зелёный при наведении */
}

.button:disabled {
  cursor: not-allowed;
  background-color: #cbd5e0;
}

@media (width <= 768px) {
  .formRow {
    flex-direction: column;
    gap: 1rem; /* Отступ между элементами на мобильных */
  }

  .mapContainer {
    height: 300px;
  }

  .inputGroup {
    width: 100%;
  }

  .buttonWrapper {
    width: 100%; /* Кнопка занимает всю ширину на мобильных */
  }

  .button {
    width: 100%; /* Кнопка занимает всю ширину на мобильных */
  }
}
