/* Основные стили для контейнера */
.container {
  max-width: 800px;

  /* padding: 1rem; */
  padding-top: 1rem;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 12px;

  /* box-shadow: 0 4px 12px rgb(0 0 0 / 10%); */
}

/* Заголовок страницы */
.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3d2c2e;
  text-align: center;
}

/* Сетка для формы */
.formGrid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup {
  flex: 1;
  margin-bottom: 0.5rem;
}

.mapReview {
  display: flex;
  justify-content: space-between;
}

.formLabel {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #3d2c2e;
}

/* Стили для списка координат */
ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.formRow {
  display: flex;
  gap: 1rem; /* Отступ между элементами */
  align-items: flex-end; /* Выравниваем элементы по нижнему краю */
}

.rubbish {
  background-color: #fff;
}

.rubbishBin {
  height: 1.5rem;
  /* background-color: #fff; */
}

/* Адаптивность */
@media (width <= 768px) {
  .formGrid {
    flex-direction: column;
  }
}
