/* Основные стили для контейнера */
.container {
  max-width: 800px;
  padding-top: 1rem;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 12px;
}

/* Заголовок страницы */
.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3d2c2e;
  text-align: center;
}

.change {
  background-color: #d1d1d1;
}

.change:hover {
  background-color: #757575;
}

.formNoCoords {
  margin: 0.5rem;
  margin-bottom: 3rem;
  font-size: 0.9rem;
  text-align: center;
}

.buttonSuccess {
  background-color:  #989898;
}

.buttonSuccess:hover {
  background-color: #4d4d4d;
}

/* Сетка для формы */
.formGrid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup {
  flex: 1;
  margin-bottom: 0.5rem;
}

.mapReview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.formLabel {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #3d2c2e;
}

/* Стили для списка координат */
ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.formRow {
  display: flex;
  gap: 1rem; /* Отступ между элементами */
  align-items: flex-end; /* Выравниваем элементы по нижнему краю */
}

.rubbish {
  background-color: #fff;
}

.rubbishBin {
  height: 1.5rem;
}

/* Адаптивность */
@media (width <= 768px) {
  .formGrid {
    flex-direction: column;
  }
}
