.linkList {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1400px;
  padding: 2rem;
  margin: 2rem auto;
}

.linkItem {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 350px;
  overflow: hidden;
  font-size: 25px;
  font-weight: 300;
  background: linear-gradient(145deg, #fff, #f8f8f8);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 12%);
  transition: all 0.4s cubic-bezier(0.5, 0.5, 0.5, 0.5) 0.1s;
  
 
}

.linkCard:first-child {
  flex: 0 0 45%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.linkCard:last-child {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

/* Чётные элементы - изображение справа */
.linkItem:nth-child(even) {
  flex-direction: row-reverse;
}

.linkList > * {
  min-width: 0;
}

.linkItem:nth-child(4) {
  flex-direction: row-reverse;
}

/* Мобильная версия */
@media (width <= 768px) {
  .linkList {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .linkItem {
    flex-direction: column;
    min-height: auto;
  }

  .linkCard:first-child {
    flex: none;
    height: 200px;
  }

  .linkItem:nth-child(even) {
    flex-direction: column;
  }

  .linkList > div {
    grid-column: 1 / -1;
  }
}
