DB=[dialect]://[user]:[password]@[host]:[XXXX]/[database]
PORT=XXXX
SECRET_ACCESS_TOKEN=SECRET_ACCESS_TOKEN
SECRET_REFRESH_TOKEN=SECRET_REFRESH_TOKEN
CLIENT_URL=http://localhost:5173

JWT_SECRET='email'
JWT_PASS='password'

EMAIL_USER='travel.plan@mail.ru'
EMAIL_PASSWORD='X1bzvkvtGkzzuLrpgYtB'