/* Основные стили для формы */
.formContainer {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3d2c2e;
  text-align: center;
}

.formTitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3d2c2e;
  text-align: center;
}

.formGrid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formRow {
  display: flex;
  gap: 0.5rem;
}

.formGroup {
  flex: 1;
  margin-bottom: 0.5rem;
}

.formLabel {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #3d2c2e;
}

.formInput,
.formSelect,
.formTextarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formTextarea {
  min-height: 60px;
  resize: vertical;
}

.formSelect {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%233d2c2e'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.8rem;
}

.formInput:focus,
.formSelect:focus,
.formTextarea:focus {
  outline: none;
  border-color: #5a3d3f;
  box-shadow: 0 0 0 2px rgb(90 61 63 / 10%);
}

.submitButton {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: #374151;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #242424;
}

/* Адаптивность */
@media (width <= 768px) {
  .formRow {
    flex-direction: column;
  }

  .formInput,
  .formSelect,
  .formTextarea {
    padding: 0.4rem;
  }
}
