.container {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff; /* Белый фон */
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%); /* Легкая тень для разделения */
}

.container a {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  font-size: 1rem;
  color: #333; /* Основной цвет текста */
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container a:hover {
  background-color: #f0f0f0; /* Эффект при наведении */
}

.active {
  font-weight: bold;
  color: #007bff; /* Активный цвет ссылки */
}

button {
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background-color: #ff4d4d; /* Красный цвет для кнопки выхода */
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c00; /* Эффект при наведении */
}